@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* This sets the root font size (rem) for the whole site */
html {
  /* font-size: 10px; */


  /* same result but better output. now every rem is 10px too */
  font-size: 62.5%;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;

  box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary-btn {
  width: 10vw;
  height: 7vh;
  background-color: #FF900E;
  border-radius: 5px;
  border: none;
  color: white;

  /* margin-top: -200px; */
}

.secondary-btn {
  /* width: min(20vh, auto);
  height: min(15vh, auto); */

  width: min(25vh, 100%);
  height: min(15vh, 100%);

  background-color: #FF900E;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: -1000px;
  margin-left: -100px;

}

.secondary-btn p{
  font-size: 3rem;
  font-weight: bold;

}


.text-gray {
  color: #727272;
}


a {
  color: black
}
 

.container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column; /* Ensures vertical stacking */

}


.flex-row {
  display: flex;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 8vw;
}

.nav-header {
  font-size: 5rem;
}


.nav-links {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.horizontal {
  display: none;
}

.banner {
  height: 120vh;

  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.banner img {
  width: 100%;
  /* height: 100%; */
  object-fit: fill;
}


.banner-header {
  font-size: 4rem;
}


.banner-p {
  
  width: 90%;
}


#features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6vh;

  margin-top: 100px;
  margin-bottom: 100px;
}

.feature-cards {
  display: grid;
  grid-gap: 3vh;
  grid-template-columns: repeat(2, 1fr);
}

.feature-desc {
  justify-content: center;
}

.feature-desc p {
  margin: 5vh 0;
}


.feature-desc > h1 > span {
  font-size: 3rem;
  font-weight: semibold;
}

.span1 {
  color: #727272;

}

.span3 {
  color: #FF900E;
}

/* Love features */
#love-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10vw;
}

/* .left-section {
  width: 100%;
} */

.right-section img {
  width: 100%;
}

.love-desc h1 {
  font-size: 2.5rem;
  padding: 20px 0;

  text-align: left;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}


#facts h1 {
  font-size: 2.5rem;
}

#sponsors h1 {
  font-size: 2.5rem;
}


.love-desc {
  padding: 15px 0;
}

.love-desc-cards {
  margin-left: 0px;
}

.love-desc-cards > div {
  /* border: 1px solid black; */
  padding: 10px 10px;
  margin-bottom: 10px;
  line-height: 200%;


  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.love-desc-p {
  line-height: 200%;
}


/* facts */

#facts {
  margin: 20vh auto;
  /* background-color: #727272; */
  /* background-color: red; */
}

#facts > p{
  text-align: left;
  margin: 30px 0;
}

.facts-cards {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-flow: row;;
  gap: 10px;

  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center; */
}

.facts-cards div{
  text-align: center;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 20px;
  height: auto;
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.facts-cards img {
  width: 25%;
}

.facts-cards p {
  font-weight: bold;
  font-size: 2rem;
}

.facts-cards .p1 {
  font-size: 3rem;
}



@media (max-width: 576px) {

  .container {
    width: 95%;
  }

  html {
    font-size: 57%;
  }

  .banner {
    justify-content: center;
    gap: 3rem;
  }

  #features {
    /* grid-template-columns: repeat(1, 1fr);
    justify-items: center; */
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .feature-cards {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .nav-header {
    font-size: 4rem;
  }

  .horizontal {
    border: 1px, dotted rgb(116, 105, 105);
  }

  .nav-links {
    display: none;
  }

  .banner-header {
    font-size: 2.5rem;
  }

  .banner {
  height: auto;
  }

  .primary-btn {
    display: none;
  }

  #love-features {
    grid-template-columns: repeat(1, 1fr);
  }

  .horizontal {
    display: block;
  }



  .secondary-btn {
    display: none
  }


  .facts-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
  }
}