

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  /* background-color: yellow; */
}


.flex {
  display: flex;
}

.flex-clmn {
  display: flex;
  flex-direction: column;
}


header {
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 40px;
  color: rgb(66, 66, 66);
}


.banner {
  justify-content: center;
  align-items: center;
}

.banner img {
  width: 200px;
}